html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
#container {
    min-height: 100%;
    position: relative;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-transform: uppercase;
    text-align: center;
}
header {
    padding: 10px;
}
header h1 {
    font-size: 5em;
}
section {
    padding-bottom: 40px;
}
section h1 {
    font-size: 3em;
    font-weight: 400;
}
section h2 a {
    border-style: solid;
    padding: 10px;
}
footer {
    position: absolute;
    background-color: rgba(80, 80, 80, 0.5);
    height: 40px;
    width: 100%;
    bottom:0;
}
footer a:hover {
    color: rgb(31, 31, 31);
}
footer p {
    color: rgb(29, 29, 29);
    font-size: 0.75em;
}
footer p a:link,
footer p a:visited,
footer p a:active {
    color: rgb(29, 29, 29);
}
footer p a:hover {
    color: black;
}
h1,
h2 {
    font-weight: 200;
}
a {
    text-decoration: none;
}
a:link,
a:visited,
a:active {
    color: black;
}
a:hover {
    color: rgb(80, 80, 80);
}
hr {
    width: 30px;
    border: 0;
    border-top: 2px solid black;
    margin-top: -20px;
    margin-bottom: 30px;
}
.bold {
    font-weight: bold;
}
