body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-transform: uppercase;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}
.fc {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height: 100vh;
}
.fc>* {
    border: dashed 1px grey;
}
/* #container {
    min-height: 100%;
    position: relative;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    
    text-align: center;
} */
header {
    flex: 2 2;
    padding: 10px;
}
header h1 {
    font-size: 5em;
}
main {
    flex: 20 4;
}
section {
    flex: 20 1;
    flex-basis: 5;
}
footer {
    /* position: absolute; */
    /* background-color: rgba(80, 80, 80, 0.5); */
    /* height: 40px;
    width: 100%;
    bottom:0; */
    flex: 1 1;
    flex-basis: 0;
}
footer a:hover {
    color: rgb(31, 31, 31);
}
footer p {
    color: rgb(29, 29, 29);
    font-size: 0.75em;
}
footer p a:link,
footer p a:visited,
footer p a:active {
    color: rgb(29, 29, 29);
}
footer p a:hover {
    color: black;
}
h1,
h2 {
    font-weight: 200;
    border: dashed 1px grey;
}
p {
    border: dashed 1px grey;
}
a {
    text-decoration: none;
}
a:link,
a:visited,
a:active {
    color: black;
}
a:hover {
    color: rgb(80, 80, 80);
}
hr {
    width: 30px;
    border: 0;
    border-top: 2px solid black;
    margin-top: -20px;
    margin-bottom: 30px;
}
.bold {
    font-weight: bold;
}
